$main: darkgray
$secondary: #8b8b9f
$highlight: darkgreen
$white: #fff

*
    box-sizing: border-box

html, body
    height: 100%
    margin: 0

body
    font-family: 'Open Sans', sans-serif

.wrapper
    width: 1440px
    max-width: 90%
    margin: auto
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    align-content: space-between


h1,h2,h3
    font-weight: 300

.main_header
    padding: 0
    .menu
        font-size: 1.3em
        color: $main
.logo
    font-weight: 900
    font-size: 1.15em // why
    text-transform: uppercase
    span
        font-weight: 300
        color: $highlight

.main_nav
    display: none
    font-size: .9em  // why
    &.active
        display: flex
        width: 100%
        flex-flow: column
        align-items: center
        justify-content: space-around
        height: 150px
    a
        margin-left: 1em
        color: $secondary
        text-decoration: none

// Banner
.banner
    background-image: url('../images/banner_background.jpg') // know your paths!
    background-size: cover
    background-repeat: no-repeat
    padding: 3em 0
    &__wrapper
        display: flex
        justify-content: center
        align-items: center
    &__poster
        max-width: 170px
        position: relative
        .featured_image
            width: 100%
            max-width: 100%
            border-radius: .5em
        .play_button
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            color: $white
            box-shadow: 2px 2px 15px
            padding: 8px 12px
    &__content
        width: 400px
        margin-left: 50px 
        .title
            font-size: 1.75em
            color: $white
            display: inline
        .ratings
            display: inline
            margin-left: 1em 
            i
                color: $highlight
                font-size: 1.35em
                margin: 0 .15em
            .inactive
                color: #48494d
        .description
            color: #bbbebf
            font-size: 1em
            line-height: 2
        .info
            color: $white
            font-size: .8em
            font-weight: 700
            margin-top: 3em
            span
                margin: 0 .5em

// Top movies

.post
    width: 30%
    text-align: center
    margin-bottom: 1.5em
    img
        border-radius: .3em
        width: 100%
        max-width: 100%
    &__title
        font-size: 1.25em
        margin: 0
        color: $main
    &__info
        font-size: .75em
        color: $secondary
        margin: .5em 0

.top_movies, .top_shows
    padding: 0 0 5em
    .title
        font-size: 1.35em
    .view_more
        font-size: 0.9em

.top_movies
    border-bottom: 1px #d4d4d4 solid

// Newsletter
.newsletter
    padding: 5em 0
    text-align: center
    background:  #2a2a2e
    &__inner
        width: 600px
        margin: 0 auto
    h2
        font-size: 1.75em
        color: $white

.sign_up_form
    display: flex
    flex-flow: wrap
    margin-top: 3em
    justify-content: space-around
    input[type='text'],input[type='email']
        border: none
        outline: none
        border-radius: .3em
        color: $white
        width: 48%
        padding: .5em 1.25em 
        background: #404043
        height: 3.25em
    .button
        border: none
        outline: none
        padding: 1em 4.5em
        border-radius: 2em
        color: $white
        background: $highlight
        font-weight: 700
        font-size: 0.9em
        margin-top: 3em

// Footer

.main_footer
    padding: 2.5em 0
    text-align: center
    .span
        color: $highlight
    .copyright
        color: $secondary
    .links
        a
            font-size: .75em
            text-decoration: none
            color: $secondary
            margin: 0 .5em
            &:hover
                color: $highlight

// Media

@media only screen and (min-width: 768px)
    .main_nav
        display: block
    .main_header
        padding: 1em 0
        .menu
            display: none
    .banner
        padding: 6em 0
        &__wrapper
            display: flex
            justify-content: center
            align-items: center
        &__poster
            max-width: 275px
            position: relative
        &__content
            width: 600px
            margin-left: 100px 
    .post
        width: 14%
        &__title
            font-size: 1.25em
            margin: 1em 0 0
            color: $main
        &__info
            font-size: .75em
            color: $secondary
            margin: .5em 0

    .top_movies, .top_shows
        padding: 2em 0 5em
        .title
            font-size: 1.75em
            margin: 1em 0 0