doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Movies & Stuff
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        include includes/main_header
        include includes/banner
        section.top_movies 
            .wrapper
                header
                    h2 Popular Movies
                    p.view_more View All Movies
                .row
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
                    .post
                        img(src="images/deadpool.jpg", alt="")
                        h3.post__title The Martian
                        p.post__info PG13 | 109 Minutes
        section.top_shows 
            .row
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
                .post
                    img(src="images/deadpool.jpg", alt="")
                    h3.post__title The Martian
                    p.post__info PG13 | 109 Minutes
        section.newsletter 
            .wrapper
                .newsletter__inner
                    h2 Get the best Movie & TV Show trailers strainht in your inbox each week.
                    form.sign_up_form
                        input(type="text" placeholder="First Name")
                        input(type="email" placeholder="Email Address")
                        button.button Subscribe
        footer.main_footer
            p.logo Movies
                span &
                |Stuff
            p.copyright ©2016 Movies & Stuff. All Rights Reserved.
            .links
                a(href="") Terms of Service
                a(href="") Privacy Policy