section.banner
    .banner__wrapper
        .banner__poster
            img(src="images/deadpool.jpg", alt="deadpool movie poster")
            i.fas.fa-play
        .banner__content
            h2 Deadpool
            .ratings
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star.inactive
            p.description.
                A former Special Forces operative turned
                mercenary is subjected to a rogue experiment that leaves him with
                accelerated healing powers, adopting the alter ego Deadpool.
            p.info R 
                span |
                |108 min
                span |
                |Action, Adventure, Comedy
                span |
                |12 February 2016