header.main_header
    .wrapper
        h1.logo Movies 
            span & 
            |Stuff
        nav.main_nav
            a(href="") Movies
            a(href="") TV Shows
            a(href="") Celebs & Photos
            a(href="") News