header.main_header
    .wrapper
        h1.logo Movies 
            span & 
            |Stuff
        a(href="#").menu#ham
            i.fa.fa-bars
        nav.main_nav#main_nav
            a(href="") Movies
            a(href="") TV Shows
            a(href="") Celebs & Photos
            a(href="") News