footer.main_footer
    p.logo Movies 
        span & 
        |Stuff
    p.copyright ©2016 Movies & Stuff. All Rights Reserved.
    .links
        a(href="") Terms of Service
        a(href="") Privacy Policy