section.newsletter 
    .wrapper
        .newsletter__inner
            h2 Get the best Movie & TV Show trailers straight in your inbox each week.
            form.sign_up_form
                input(type="text" placeholder="First Name")
                input(type="email" placeholder="Email Address")
                button.button Subscribe