section.top_movies 
    header
        .wrapper
            h2.title Popular Movies
            p.view_more View All Movies
    .wrapper
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes
        .post
            img(src="images/deadpool.jpg", alt="")
            h3.post__title The Martian
            p.post__info PG13 | 109 Minutes